<section class="new-work-order">
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2 class="title">Add Point</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit()">

      <div fxLayout="row">
        <div class="form-padding" fxLayout="column">
          <mat-form-field>
            <input type="text" matInput class="form-input" placeholder="Mobile No." name="mobile-no" [(ngModel)]="mobileNO" required/>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput class="form-input" placeholder="Point" name="point" [(ngModel)]="point" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="form-padding">
        <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid">Save</button>
      </div>
    </form><!-- end form -->
  </div>
</section>
